<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/heading :: heading(title = 'Register')}"/>

<body>
<!-- nav bar -->
<!-- new -->
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bs-component">
                    <form th:action="@{/register}" method="post" id="formSignUp">
                        <fieldset>
                            <h1>Sign up</h1>

                            <div class="form-group">
                                <label for="firstName" class="form-label mt-4">First Name</label>
                                <input type="text" class="form-control" id="firstName"
                                       placeholder="First name" required>
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="form-label mt-4">Last Name</label>
                                <input type="text" class="form-control" id="lastName"
                                       placeholder="Last name" required>
                            </div>

                            <div class="form-group">
                                <label for="username" class="form-label mt-4">Username</label>
                                <input type="text" class="form-control" id="username"
                                       placeholder="Username" required>
                            </div>

                            <div class="form-group">
                                <label for="password" class="form-label mt-4">Password</label>
                                <input type="password" class="form-control" id="password"
                                       placeholder="Password" required minlength="8">
                            </div>

                            <br class="mt-4">

                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </fieldset>
                    </form>
                    <a href="/login" class="btn btn-primary" style="margin-top:20px;"> You have account ? Sign in now !</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.4/jquery.js}"></script>
<script>
    $(document).ready(function () {
        const formSignUp = $("#formSignUp")
        formSignUp.on("submit", function (e) {
            e.preventDefault()
            const firstName = $("#firstName")
            const lastName = $("#lastName")
            const username = $("#username")
            const password = $("#password")

            $.ajax({
                url: "/register",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    firstName: firstName.val(),
                    lastName: lastName.val(),
                    username: username.val(),
                    password: password.val()
                }),
                success: (function (data) {
                    console.log(data)
                    alert("Register success")
                    window.location.href = "/login"
                }),
                error: function (error) {
                    console.log(error)
                }
            })
        })
    })
</script>

</body>
</html>

