<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Welcome to a Spring Boot project</h1>
    <div class="d-flex justify-content-center">
        <a class="h2 btn btn-primary" th:href="@{/product}" style="margin: 10px;">Xem sản phẩm</a>
        <a class="h2 btn btn-primary" th:href="@{/cart}" style="margin: 10px;">Xem giỏ hàng</a>
        <a class="h2 btn btn-primary" th:href="@{/login}" style="margin: 10px;">Login</a>
    </div>
</div>
</body>
</html>